<html>
<head>
    <title>Documents</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <form id="targetAdd">
            <div class="addInputDivs"><label> Название : <input class="addInputFields" type="text" name="title" id="title" th:value="${title}"/> </label></div>
            <hr/>
            <div class="addInputDivs"><label> Автор : <input class="addInputFields" type="text" name="author" id="author" th:value="${author}"/> </label></div>
            <hr/>
            <div class="addInputDivs"><label> Источник : <input class="addInputFields" type="text" name="src" id="src" th:value="${src}"/> </label></div>
            <hr/>
            <div><input type="submit" value="СОХРАНИТЬ"/></div>
    </form>
<!--    
	Из-за того, что скрипт bootstrap шел раньше скрипта jquery в консоли браузера
    появлялась ошибка Type error: i is undefined
-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>